body {
    margin: 0;
    font-family: "Cormorant Garamond", serif;
    font-size: 18px;
  }
  
  .page-wrapper {
    display: block;
    width: 100%;
  }
  
  @media (min-width: 700px) {
    .page-wrapper {
      display: flex;
    }
  }
  aside {
    background-color: rgb(224, 154, 154);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 40px;
  }
  
  @media (min-width: 700px) {
    aside {
      background-color:black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      flex: 0 0 50%;
      padding: 0;
    }
  }
  h1,
  .flourish {
    font-size: 6vw;
    margin: 10px 0;
    font-family: "Oxygen", sans-serif;
    text-align: center;
  }
  
  @media (min-width: 700px) {
    h1,
    .flourish {
      font-size: 4.5vw;
      margin: 20px 0;
      padding: 0 20px;
    }
  }
  h1 {
    letter-spacing: 10px;
    text-transform: uppercase;
  }
  
  .flourish {
    font-weight: bold;
  }
  
 
  article {
    margin: 0;
  }
  
  @media (min-width: 700px) {
    article {
      flex: 0 0 50%;
      margin-left: 50%;
      padding-top: 30px;
    }
  }
 
  .text {
    padding: 0 50px;
  margin: 180px;
  }
  .text p:first-child {
    margin-top: 0;
  }
  .text p:first-child:first-letter {
    float: left;
    color: black;
    font-size: 4em;
    line-height: 35px;
    padding: 19px 10px 10px 0;
  }
  
  @media (min-width: 1100px) {
    .text {
      padding: 0 60px;
    }
  }
  footer {
    height: 40px;
  }